#/index.php
sites/default/files/*
sites/stag/files/*
sites/prod/files/*
sites/win10/files/*

!sites/*/files/mtrc
!sites/*/files/sync

sites/local/*.*
sites/local/*

/.DS_Store
.DS_Store
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
example.gitignore
install.txt
robots.txt
