#/index.php
sites/*/files/*
!sites/*/files/mtrc
!sites/*/files/sync
!sites/*/files/temp

sites/*/files/temp/*
!sites/*/files/temp/.htaccess

/.DS_Store
.DS_Store
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
example.gitignore
install.txt
robots.txt
