/* Add your css code here */
.table_list{
	max-width:100%;
}
.wide_form{
	max-width:100%;
}
.grid-full {
    display: block;
}
table.dataTable td{
    text-align: center;
}
fieldset.collapsible {
    position: inherit !important;
}
.site-branding {
    background-image: url("../images/chubb.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}
.customer_detail{
    /* border: 1px solid; */
    border-collapse: collapse;
    width: 100%;
}
.customer_detail td{
    border: 1px solid #f0f0f0;
}
body {
    background-color: #fff;
    background-image: none;
}
.site-header__initial {
    background-color: #ff3399;
}
.sticky-header-toggle {
    background-color: #ff3399;
}