/* Add your css code here */
.table_list{
	max-width:100%;
}
.wide_form{
	max-width:100%;
}
.grid-full {
    display: block;
}
table.dataTable td{
    text-align: center;
}
fieldset.collapsible {
    position: inherit !important;
}
.site-branding {
    background-image: url("../images/chubb.png");
    background-repeat: no-repeat;
    background-size: 160px 100px;
}
