/* Add your css code here */
.table_list{
	max-width:100%!important;
}
.wide_form{
	max-width:100%!important;
}
.grid-full {
    display: block!important;
}
table.dataTable td{
    text-align: center!important;
}
fieldset.collapsible {
    position: inherit !important;
}
.site-branding {
    background-image: url("../images/chubb.png")!important;
    background-repeat: no-repeat!important;
    background-size: 100px 100px!important;
}
.customer_detail{
    /* border: 1px solid; */
    border-collapse: collapse!important;
    width: 100%!important;
}
.customer_detail td{
    border: 1px solid #f0f0f0!important;
}
body {
    background-color: #fff!important;
    background-image: none!important;
}
.site-header__initial {
    background-color: #ff3399!important;
}
.sticky-header-toggle {
    background-color: #ff3399!important;
}
.form-wrapper{
    float: left;
    width: 100%;;
}
.edit-order-form .form-item {
    float: left;
    width: 30%;
    margin-right: 3%;
    min-height: 99px;
}
.form-item-name{
    width: 100%!important;
}
.form-item-pass{
    width: 100%!important;
}
.form-item-agentcode{
    width: 100%!important;
    text-align: right;
}
.form-item-agentname{
    width: 100%!important;
    text-align: right;
}
.form_item_maxwidth{
    width: 100%!important;
    float: left;
}
.form-item-nationality{
    margin-right: 60%;
}
.form-item-taxresidencytin2{
    margin-right: 30%;
}
.form-item-taxresidencytin3{
    margin-right: 30%;
}

.form-item-customer-insured-nationality{
    margin-right: 30%;
}
.form-item-customer-insured-taxresidencytin2{
    margin-right: 30%;
}
.form-item-customer-insured-taxresidencytin3{
    margin-right: 30%;
}
.fieldset--group {
    width: 100%!important;
}
.fieldset__wrapper{
    float: left;
    width: 100%!important;
}
.js-form-type-radio{
    min-height: 1px!important;
}
.datatable_filter_header{
    width: 100%!important;
}
.product_rhc_detail{
    /* border: 1px solid; */
    border-collapse: collapse!important;
    width: 100%!important;
}
.product_rhc_detail td{
    border: 1px solid #f0f0f0!important;
}
.traditional_data_tale{
    width: 100%;
}